.ConstellationMatches {
	.next {
		&::after {
			transform: scale(-1, 1);
		}
	}

	.dialog {
		background-color: rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
		@apply border-4 border-white;
	}

	.arrow {
		position: relative;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;

		@scale: 0.9;
		@img: './img/arrow.svg';

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(@img);
			background-size: 100%;
			content: '';
		}
	}

	.ConstellationDescriptionList {
		position: relative;

		@apply space-y-3;

		& > li {
			padding-left: 2rem;
			text-indent: -2rem;

			&::before {
				content: '1';
				filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.1));
				@apply mr-2 inline-block h-6 w-6 rounded-full bg-secondary text-center indent-0 text-base font-bold leading-6 text-white;
			}
		}
	}

	.center {
		position: absolute;
		top: 50%;
		left: 50%;

		.symbols {
			position: absolute;
			top: -336px;
			left: -417px;
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-image: url(@img);
			background-size: 100%;
			// transition: 1s;

			@scale: 1;
			@img: './img/symbol.svg';
		}
	}

	.ConstellationGroup {
		@scale: 0.6;

		.active {
			transform: scale(1.2);
		}

		& > div {
			& > div:nth-child(1) {
				width: 85px;
				height: 85px;
				background-position: center;
				background-repeat: no-repeat;
				cursor: pointer;
				transition: 0.1s;

				&:hover {
					transform: scale(1.2);
				}
			}
		}

		.ico0 {
			background-image: url(@img);
			background-size: image-width(@img) * @scale;

			@img: './img/ico0.svg';
			&:active {
				background-image: url('./img/ico0-h.svg');
			}
		}

		.active0 {
			background-image: url('./img/ico0-h.svg');
			cursor: auto;
		}

		.ico1 {
			background-image: url(@img);
			background-size: image-width(@img) * @scale;

			@img: './img/ico1.svg';
			&:active {
				background-image: url('./img/ico1-h.svg');
			}
		}

		.active1 {
			background-image: url('./img/ico1-h.svg');
			cursor: auto;
		}

		.ico2 {
			background-image: url(@img);
			background-size: image-width(@img) * @scale;

			@img: './img/ico2.svg';
			&:active {
				background-image: url('./img/ico2-h.svg');
			}
		}

		.active2 {
			background-image: url('./img/ico2-h.svg');
			cursor: auto;
		}

		.ico3 {
			background-image: url(@img);
			background-size: image-width(@img) * @scale;

			@img: './img/ico3.svg';
			&:active {
				background-image: url('./img/ico3-h.svg');
			}
		}

		.active3 {
			background-image: url('./img/ico3-h.svg');
			cursor: auto;
		}

		.ico4 {
			background-image: url(@img);
			background-size: image-width(@img) * @scale;

			@img: './img/ico4.svg';
			&:active {
				background-image: url('./img/ico4-h.svg');
			}
		}

		.active4 {
			background-image: url('./img/ico4-h.svg');
			cursor: auto;
		}

		.ico5 {
			background-image: url(@img);
			background-size: image-width(@img) * @scale;

			@img: './img/ico5.svg';
			&:active {
				background-image: url('./img/ico5-h.svg');
			}
		}

		.active5 {
			background-image: url('./img/ico5-h.svg');
			cursor: auto;
		}

		.ico6 {
			background-image: url(@img);
			background-size: image-width(@img) * @scale;

			@img: './img/ico6.svg';
			&:active {
				background-image: url('./img/ico6-h.svg');
			}
		}

		.active6 {
			background-image: url('./img/ico6-h.svg');
			cursor: auto;
		}

		.ico7 {
			background-image: url(@img);
			background-size: image-width(@img) * @scale;

			@img: './img/ico7.svg';
			&:active {
				background-image: url('./img/ico7-h.svg');
			}
		}

		.active7 {
			background-image: url('./img/ico7-h.svg');
			cursor: auto;
		}

		.ico8 {
			background-image: url(@img);
			background-size: image-width(@img) * @scale;

			@img: './img/ico8.svg';
			&:active {
				background-image: url('./img/ico8-h.svg');
			}
		}

		.active8 {
			background-image: url('./img/ico8-h.svg');
			cursor: auto;
		}

		.ico9 {
			background-image: url(@img);
			background-size: image-width(@img) * @scale;

			@img: './img/ico9.svg';
			&:active {
				background-image: url('./img/ico9-h.svg');
			}
		}

		.active9 {
			background-image: url('./img/ico9-h.svg');
			cursor: auto;
		}

		.ico10 {
			background-image: url(@img);
			background-size: image-width(@img) * @scale;

			@img: './img/ico10.svg';
			&:active {
				background-image: url('./img/ico10-h.svg');
			}
		}

		.active10 {
			background-image: url('./img/ico10-h.svg');
			cursor: auto;
		}

		.ico11 {
			background-image: url(@img);
			background-size: image-width(@img) * @scale;

			@img: './img/ico11.svg';
			&:active {
				background-image: url('./img/ico11-h.svg');
			}
		}

		.active11 {
			background-image: url('./img/ico11-h.svg');
			cursor: auto;
		}
	}

	.Steps {
	}
}
