@import url('../../../settings/config.less');

.Stake {
	position: relative;

	& > div {
		position: relative;
	}

	&::before {
		position: absolute;
		top: -260px;
		right: -320px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;
		content: '';
		pointer-events: none;

		@scale: 0.9;
		@img: './img/symbol.svg';
	}

	.head {
		position: relative;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.9;
		@img: './img/head.svg';

		&::after {
			position: absolute;
			top: -70px;
			right: -80px;
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			background-image: url(@img);
			background-size: 100%;
			content: '';
			animation: StakeHeadline 1s ease-in-out infinite;

			@scale: 0.9;
			@img: './img/call-for-action.svg';
		}
	}

	@keyframes StakeHeadline {
		0% {
			opacity: 0;
		}
		20% {
			opacity: 1;
		}
		50% {
			opacity: 1;
		}
		80% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	.logo {
		top: 0;
		left: 0;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.25;
		@img: './img/logo2.png';

		@apply relative xl:absolute;
	}

	.stakeCarouselImage {
		padding-bottom: 100%;
		border: solid 3px #fff;
		border-radius: 2.5rem;
		background-color: rgba(255, 255, 255, 0.7);
		background-size: cover;
		filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.9));
	}

	.arrow {
		position: absolute;
		top: 50%;
		z-index: 1;
		margin-top: 0 - image-height(@img) * @scale * 0.5 - 20px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;
		cursor: pointer;

		@scale: 0.9;
		@img: './img/arrow.svg';

		&::before {
			display: none;
		}
	}

	.prev {
		left: -46px;
		transform: scale(-1, 1);
	}

	.next {
		right: -46px;
	}

	.c0 {
		background-image: url('./img/0.png');
	}

	.c1 {
		background-image: url('./img/1.png');
	}

	.c2 {
		background-image: url('./img/2.png');
	}

	.c3 {
		background-image: url('./img/3.png');
	}
}

@media only screen and (max-width: @breakPointMD) {
	.Stake {
		.logo {
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;

			@scale: 0.5;
			@img: './img/logo2.png';
		}
	}
}
