.Result {
	@apply absolute top-0 flex min-h-full w-full flex-col items-center justify-center overflow-x-hidden overflow-y-visible p-5 xl:flex-row xl:p-20;

	ol {
		li {
			position: relative;
			margin: 0;
			text-indent: 21px;
			@apply font-semibold;

			& > p {
				text-indent: 0;
				@apply py-1 font-normal;
			}

			&::before {
				position: absolute;
				top: 4px;
				left: 0px;
				width: 16px;
				height: 16px;
				background-image: url('./img/list-image.svg');
				background-size: 100%;
				content: '';
			}
		}
	}

	.image {
		position: relative;
		margin: -10%;
		margin-left: -15%;
		padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * @width);
		width: @width;
		background-size: cover;
		pointer-events: none;

		@width: 100%;
		@img: './img/0.png';

		&::after {
			position: absolute;
			content: '';
			padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 120%);
			width: 120%;
			background-image: url(@img);
			background-size: 100%;
			top: 50%;
			margin-top: 0 - (unit(image-height(@img) / unit(image-width(@img))) * 120%) * 0.5;
			left: -10%;

			@img: './img/circle.svg';
			// position: absolute;
			// content: '';
			// width: image-width(@img) * @scale;
			// height: image-height(@img) * @scale;
			// background-image: url(@img);
			// background-size: 100%;
			// left: 50%;
			// margin-left: 0 - image-width(@img) * @scale * 0.5;
			// top: 50%;
			// margin-top: 0 - image-height(@img) * @scale * 0.5;

			// @scale: 1.2;
			// @img: './img/circle.svg';
		}
	}

	.img0 {
		background-image: url('./img/0.png');
	}

	.img1 {
		background-image: url('./img/1.png');
	}

	.img2 {
		background-image: url('./img/2.png');
	}

	.img3 {
		background-image: url('./img/3.png');
	}

	.img4 {
		background-image: url('./img/4.png');
	}

	.dialog {
		filter: drop-shadow(6px 6px 0px #fcfe9f);
		@apply my-2 w-full rounded-3xl border-2 border-white bg-tertiary p-5 text-xl text-white;
	}

	.fb {
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 1;
		@img: './img/facebook.svg';

		@apply drop-shadow-lg;

		&:hover {
			transform: scale(1.05);
		}
	}

	.line {
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 1;
		@img: './img/line.svg';

		@apply drop-shadow-lg;

		&:hover {
			transform: scale(1.05);
		}
	}

	.download {
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 1;
		@img: './img/download.svg';

		@apply drop-shadow-lg;

		&:hover {
			transform: scale(1.05);
		}
	}
}
