@import url('../../settings/config.less');

.Join {
	z-index: 1;

	.header {
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;
		background-image: url(@img);
		background-size: 100%;

		@scale: 0.9;
		@img: './img/header.svg';
	}
}

@media only screen and (max-width: @breakPointMD) {
	.Join {
		.header {
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;

			@scale: 1.2;
			@img: './img/header.svg';
		}
	}
}
